<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restomap</title>
  </head>
  <body>
    <div class="load">
      <div class="loader"></div>
    </div>
    <header style="display: none">
      <nav id="nav">
        <div class="brand">
          <app-bar class="logo">
            <h1 tabindex="0">RESTOMAP</h1>
            <a href="#maincontent" class="skip-link">Menuju ke konten</a>
          </app-bar>
          <div class="menu">
            <input id="checkbox2" type="checkbox" />
            <button
              tabindex="0"
              class="toggle toggle2"
              for="checkbox2"
              aria-label="button menu"
            >
              <div id="bar4" class="bars"></div>
              <div id="bar5" class="bars"></div>
              <div id="bar6" class="bars"></div>
            </button>
          </div>
        </div>
        <ul class="nav-list">
          <li class="nav-item"><a href="">Home</a></li>
          <li class="nav-item"><a href="#">Favorite</a></li>
          <li class="nav-item">
            <a href="https://shoya-m1.github.io/Portfolio/" class="nav-link"
              >About As</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main style="display: none">
      <section class="hero">
        <div class="hero-inner">
          <b tabindex="0">Welcome To</b>
          <h2 id="title" tabindex="0">Restaurant Mapping</h2>

          <p tabindex="0">
            Jelajahi ragam makanan lezat dari restoran-restoran terbaik di kota
            Anda. Menemukan Perpaduan Rasa yang Memukau, dan Menghadirkan
            Pengalaman Kuliner yang Mengesankan.
          </p>
        </div>
      </section>
      <section class="content" id="maincontent">
        <img tabindex="-1" class="shape" src="./images/shape.png" alt="shape" />
        <h3 tabindex="0">Explore Restaurant</h3>
        <div class="content-inner">
          <ul class="mainCard"></ul>
        </div>
      </section>
      <section class="blog">
        <h4 tabindex="0">Blog</h4>
        <ul class="blog-inner">
          <li>
            <div class="blog-img">
              <img tabindex="0" src="./images/blog/soto-ayam.jpg" alt="" />
            </div>
            <div class="blog-content">
              <p tabindex="0">23 maret 2024</p>
              <a
                tabindex="0"
                href="https://shoyam1.blogspot.com/2024/03/menggoda-selera-dengan-soto-ayam-khas.html"
              >
                Soto Ayam Khas Lamongan
              </a>
              <p tabindex="0">
                Soto ayam merupakan salah satu hidangan khas Indonesia yang
                sudah menjadi favorit di seluruh negeri. Namun, ada satu varian
                soto ayam yang memikat banyak pencinta kuliner dengan cita rasa
                yang istimewa, yaitu soto ayam khas Lamongan.
              </p>
            </div>
          </li>
          <li>
            <div class="blog-img">
              <img
                tabindex="0"
                src="./images/blog/Nasi-Pecel-Madiun.jpg"
                alt=""
              />
            </div>
            <div class="blog-content">
              <p tabindex="0">23 maret 2024</p>
              <a
                tabindex="0"
                href="https://shoyam1.blogspot.com/2024/03/resep-nasi-pecel-khas-madiun.html"
              >
                Resep Nasi Pecel Khas Madiun
              </a>
              <p tabindex="0">
                Nasi pecel adalah salah satu hidangan khas Indonesia yang telah
                menggoda lidah banyak orang dari berbagai lapisan masyarakat.
                Dibalut dengan bumbu kacang yang kaya rasa dan dihiasi dengan
                beragam sayuran segar, nasi pecel bukan hanya sekadar hidangan,
                tapi juga bagian dari warisan budaya Indonesia yang patut
                dipelihara.
              </p>
            </div>
          </li>
          <li>
            <div class="blog-img">
              <img tabindex="0" src="./images/blog/sate-ayam.webp" alt="" />
            </div>
            <div class="blog-content">
              <p tabindex="0">23 maret 2024</p>
              <a
                tabindex="0"
                href="https://shoyam1.blogspot.com/2024/03/memikat-lidah-dengan-sate-madura.html"
              >
                Memikat Lidah dengan Sate Madura
              </a>
              <p tabindex="0">
                Sate Madura adalah salah satu hidangan khas Indonesia yang sudah
                terkenal di seluruh dunia. Dibalut dengan bumbu kacang yang kaya
                rasa dan aroma khas rempah-rempah, sate ini telah menjadi
                favorit banyak orang. Namun, apa sebenarnya yang membuat sate
                dari Madura ini begitu istimewa.
              </p>
            </div>
          </li>
        </ul>
      </section>
    </main>
    <footer style="display: none">
      <p tabindex="0">copyright &copy; 2024 - RESTOMAP</p>
    </footer>
  </body>
</html>
